# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: env
    jobs:
      - job: Nodes
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '12.13.1'
            displayName: 'Install Node.js'

  # - stage: build
  #   dependsOn: env
  #   jobs:
  #     - job: build
  #       steps:
  #         - task: Npm@1
  #           inputs:
  #             command: 'install'
  #         - script: |
  #             npm run build
  - stage: test
    dependsOn: env
    jobs:
      - job: test
        steps:
          - task: Npm@1
            inputs:
              command: 'install'
          - script: |
              npm run test
              cat ./coverage-report/lcov.info | ./node_modules/.bin/codecov